body {
    background-color: #fff;
}

section{

    .box{
        width: 150px;
        height: 150px;
        background-color: lightblue;
        display: grid;
        place-items: center;
    }

    .box-transition{
        transition: background-color .2s ease-in-out, transform .2s ease-in-out .2s;

        &:hover {
            background-color: lightcoral;
            transform: scale(1.1);
        }
    }

    .box-animation{
        animation: slide 3s; 
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
    
    .box-container{
        display: flex;
        justify-content: start;
        align-items: start;
        background-color: #cfcfcf;

        &:hover > .box-remplissage {
            transform:scaleX(100%);
        }
    }

    .box-remplissage{
        transform: scaleX(0);
        transition: .2s;
    }

}    

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(200px) translateY(0)
    }

    30%  {
        transform: translateX(300px) translateY(-200px) rotate(.2turn)
    }

    45% {
        transform: translateX(350px) translateY(0) rotate(.5turn)
    }

    60% {
        transform: translateX(300px) translateY(200px) rotate(.7turn)
    }

    75% {
        transform: translateX(200px) translateY(0) rotate(1turn)
    }

    100% {
        transform: rotate(1turn)
    }
}